<div class="container">
    <div class="row" [style.margin-bottom]="'25px'">
        <div class="col-md-12">
            <p>Dashboard</p>
            <p>O meu nickname é: {{auth.userState.displayName}}</p>
            <button class="btn btn-danger" (click)="doLogoff()">
                Logoff</button>

            <button class="btn btn-danger" (click)="setDisplayname()">set displayname</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <input type="text" style="width: 100%" name="txtMessage" #txtMessage />
        </div>
        <div class="col-md-2">
            <button class="btn btn-danger" (click)="sendMessage(txtMessage.value)">
                Send</button>
        </div>
    </div>
    <div class="row" *ngFor="let item of channelData">
        <div class="row">
            <div style="float: left;">{{item.user}}:&nbsp;</div>
            <div style="float: left;" [innerHTML]="item.message"></div>
            <small style="float: left;"> - {{item.date | date: 'M/d/yy, h:mm a'}}</small>
        </div>
    </div>
</div>